.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  margin-right: 10px;
}

.filter__button_active {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #b672ff;
  border-radius: 60px;
  padding: 6px 20px;
  margin-right: 10px;
  color: #b672ff;
}

.filter__button:hover,
.filter__button_active:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

.filter__form {
  margin-top: 10px;
  width: 248px;
  height: 305px;
  background-color: #313131;
  position: absolute;
  border-radius: 12px;

  overflow-y: auto;
  overflow-x: auto;
}

.filter__item {
  font-size: 20px;
  line-height: 24px;
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 28px;
  color: #ffffff;
}

.filter__item:first-child {
  padding-top: 36px;
}

.filter__item:hover {
  color: #b672ff;
  cursor: pointer;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 4px; /* ширина для вертикального скролла */
  height: 0px; /* высота для горизонтального скролла */
  background-color: #4b4949;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #4b4949;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #ffffff;
}
