.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  margin-right: 10px;
}

._btn-text:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

.filter__form {
  margin-top: 10px;
  width: 248px;
  height: 305px;
  background-color: #313131;
  position: absolute;
  border-radius: 12px;
}

.filter__item {
  font-size: 20px;
  line-height: 24px;
  padding-left: 34px;
  padding-bottom: 28px;
  color: #ffffff;
}

.filter__item:first-child {
  padding-top: 36px;
}

.filter__item:hover {
  color: #b672ff;
}
